[submodule "php/cafeteria_project_php"]
	path = php/cafeteria_project_php
	url = https://github.com/MostafaAbdelmajied/cafeteria_project_php
[submodule "design_patterns/librarySystem"]
	path = design_patterns/librarySystem
	url = https://github.com/mw205/library_system
[submodule "gen_ai/simple_rag_system"]
	path = gen_ai/simple_rag_system
	url = https://github.com/mw205/simple_rag_system
