/java_projects/JavaApplication1/nbproject/private/
/java_projects/JavaApplication1/build/
/java_projects/JavaApplication1/dist/
/java_projects/TestArgs/nbproject/private/
/java_projects/TestArgs/build/
/java_projects/TestArgs2/nbproject/private/
/java_projects/TestArgs2/build/
/java_projects/TestArgs2/dist/
/java_projects/IPCut/nbproject/private/
/java_projects/IPCut/build/
/java_projects/IPCut/dist/
/java_projects/CountWords/nbproject/private/
/java_projects/CountWords/dist/
/java_projects/CountWords/build/
/java_projects/ArrayAlgorithms/nbproject/private/
/java_projects/ArrayAlgorithms/dist/
/java_projects/ArrayAlgorithms/build/
/java_projects/TempratureConverter/nbproject/private/
/java_projects/TempratureConverter/dist/
/java_projects/TempratureConverter/build/
/java_projects/QuadraticRoots/nbproject/private/
/java_projects/QuadraticRoots/build/
/java_projects/QuadraticRoot/nbproject/private/
/java_projects/QuadraticRoot/build/
/java_projects/QuadraticRoot/dist/
/java_projects/Shape/nbproject/private/
/java_projects/Shape/build/
/java_projects/Shape/dist/
/java_projects/ComplexNumbers/nbproject/private/
/java_projects/ComplexNumbers/build/
/java_projects/ComplexNumbers/dist/
/java_projects/CustomException/nbproject/private/
/java_projects/CustomException/build/
/java_projects/CustomException/dist/
