/java_projects/JavaApplication1/nbproject/private/
/java_projects/JavaApplication1/build/
/java_projects/JavaApplication1/dist/
/java_projects/TestArgs/nbproject/private/
/java_projects/TestArgs/build/
/java_projects/TestArgs2/nbproject/private/
/java_projects/TestArgs2/build/
/java_projects/TestArgs2/dist/
/java_projects/IPCut/nbproject/private/
/java_projects/IPCut/build/
/java_projects/IPCut/dist/
/java_projects/CountWords/nbproject/private/
/java_projects/CountWords/dist/
/java_projects/CountWords/build/
/java_projects/ArrayAlgorithms/nbproject/private/
/java_projects/ArrayAlgorithms/dist/
/java_projects/ArrayAlgorithms/build/
